In [1]:
from pyspark import SparkConf, SparkContext

In [2]:
conf = SparkConf()
conf.setMaster("local")
conf.setAppName('spark-basic')
sc = SparkContext(conf=conf)

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/02/27 14:54:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
import numpy as np
def mod(x):
    return (x,np.mod(x,2))
rdd = sc.parallelize(range(1000)).map(mod).take(10)
print(rdd)

[(0, 0), (1, 1), (2, 0), (3, 1), (4, 0), (5, 1), (6, 0), (7, 1), (8, 0), (9, 1)]

In [4]:
conf = SparkConf().setAppName("MyFirstApp").setMaster("local")
sc = SparkContext(conf=conf)
print("Hello, Spark!")

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=spark-basic, master=local) created by __init__ at /var/folders/8t/4ttt_tc53hs994xcrmjg2p880000gn/T/ipykernel_20043/3534141817.py:4

In [5]:
sc.stop()

In [6]:
conf = SparkConf().setAppName("MyFirstApp").setMaster("local")
sc = SparkContext(conf=conf)
print("Hello, Spark!")

Hello, Spark!

getOrCreate() reuses existing SparkContext instead of creating a new one.

In [7]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("spark-basic") \
    .master("local") \
    .getOrCreate()

sc = spark.sparkContext

In [8]:
# creating an RDD
rdd = sc.parallelize(range(1000)).map(mod).take(10)

In [9]:
print(rdd)

[(0, 0), (1, 1), (2, 0), (3, 1), (4, 0), (5, 1), (6, 0), (7, 1), (8, 0), (9, 1)]

In [10]:
## creating an RDD using List
values = [1, 2, 3, 4, 5]
rdd2 = sc.parallelize(values)
print(rdd2.collect())

[1, 2, 3, 4, 5]

In [11]:
sc.stop()

In [12]:
conf = SparkConf().setAppName("SparkRDDs").setMaster("local")
sc = SparkContext(conf=conf)
print("Hello, Spark!")

Hello, Spark!

In [13]:
values = [1, 2, 3, 4, 5]
rdd = sc.parallelize(values) # parallelize take collections like list etc.

# printing the RDD values
print(rdd.take(5))

[1, 2, 3, 4, 5]

In [14]:
! touch Spark.txt
! echo "Hello Spark" >> Spark.txt

In [15]:
# Uploading a file to Google Colab

from google.colab import files

uploaded = files.upload()

# initializing an RDD using a text file

rdd = sc.textFile("Spark.txt")

# printing the text from RDD

print(rdd.collect())

ModuleNotFoundError: No module named 'google'

The module google.colab exists only in the Google Colab environment. If you run this code in:      
	•	Jupyter Notebook (local)     
	•	VS Code   
	•	PyCharm   
	•	Any local Python environment

The line below works only in Google Colab:     
    
```
from google.colab import files
```      
    
So this code is correct for Colab, but not for a local environment.

In [16]:
# initializing an RDD using a text file
rdd = sc.textFile("Spark.txt")

# printing the text from RDD
print(rdd.collect())

['Hello Spark', 'Hello Spark', 'Hello Spark', 'Hello Spark', 'Hello Spark', 'Hello Spark']

In [17]:
aba = sc.parallelize(range(1,10000,2))
aba.persist()

PythonRDD[5] at RDD at PythonRDD.scala:58

In [18]:
aba.count()

5000

In [19]:
aba.mean()

5000.0

In [20]:
aba.collect()

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101,
 103,
 105,
 107,
 109,
 111,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 127,
 129,
 131,
 133,
 135,
 137,
 139,
 141,
 143,
 145,
 147,
 149,
 151,
 153,
 155,
 157,
 159,
 161,
 163,
 165,
 167,
 169,
 171,
 173,
 175,
 177,
 179,
 181,
 183,
 185,
 187,
 189,
 191,
 193,
 195,
 197,
 199,
 201,
 203,
 205,
 207,
 209,
 211,
 213,
 215,
 217,
 219,
 221,
 223,
 225,
 227,
 229,
 231,
 233,
 235,
 237,
 239,
 241,
 243,
 245,
 247,
 249,
 251,
 253,
 255,
 257,
 259,
 261,
 263,
 265,
 267,
 269,
 271,
 273,
 275,
 277,
 279,
 281,
 283,
 285,
 287,
 289,
 291,
 293,
 295,
 297,
 299,
 301,
 303,
 305,
 307,
 309,
 311,
 313,
 315,
 317,
 319,
 321,
 323,
 325,
 327,
 329,
 331,
 333,
 335,
 337,
 339,
 341,
 343,
 345,
 347,
 349,
 351,
 353,
 355,
 357,
 359,
 361,
 363,
 365,
 367,
 369,
 371,
 373,
 375,
 377,
 379,
 381,
 383,
 385,
 387,
 389,
 391,
 393,
 395,
 397,
 399,
 401,
 403,
 405,
 407,
 409,
 411,
 413,
 415,
 417,
 419,
 421,
 423,
 425,
 427,
 429,
 431,
 433,
 435,
 437,
 439,
 441,
 443,
 445,
 447,
 449,
 451,
 453,
 455,
 457,
 459,
 461,
 463,
 465,
 467,
 469,
 471,
 473,
 475,
 477,
 479,
 481,
 483,
 485,
 487,
 489,
 491,
 493,
 495,
 497,
 499,
 501,
 503,
 505,
 507,
 509,
 511,
 513,
 515,
 517,
 519,
 521,
 523,
 525,
 527,
 529,
 531,
 533,
 535,
 537,
 539,
 541,
 543,
 545,
 547,
 549,
 551,
 553,
 555,
 557,
 559,
 561,
 563,
 565,
 567,
 569,
 571,
 573,
 575,
 577,
 579,
 581,
 583,
 585,
 587,
 589,
 591,
 593,
 595,
 597,
 599,
 601,
 603,
 605,
 607,
 609,
 611,
 613,
 615,
 617,
 619,
 621,
 623,
 625,
 627,
 629,
 631,
 633,
 635,
 637,
 639,
 641,
 643,
 645,
 647,
 649,
 651,
 653,
 655,
 657,
 659,
 661,
 663,
 665,
 667,
 669,
 671,
 673,
 675,
 677,
 679,
 681,
 683,
 685,
 687,
 689,
 691,
 693,
 695,
 697,
 699,
 701,
 703,
 705,
 707,
 709,
 711,
 713,
 715,
 717,
 719,
 721,
 723,
 725,
 727,
 729,
 731,
 733,
 735,
 737,
 739,
 741,
 743,
 745,
 747,
 749,
 751,
 753,
 755,
 757,
 759,
 761,
 763,
 765,
 767,
 769,
 771,
 773,
 775,
 777,
 779,
 781,
 783,
 785,
 787,
 789,
 791,
 793,
 795,
 797,
 799,
 801,
 803,
 805,
 807,
 809,
 811,
 813,
 815,
 817,
 819,
 821,
 823,
 825,
 827,
 829,
 831,
 833,
 835,
 837,
 839,
 841,
 843,
 845,
 847,
 849,
 851,
 853,
 855,
 857,
 859,
 861,
 863,
 865,
 867,
 869,
 871,
 873,
 875,
 877,
 879,
 881,
 883,
 885,
 887,
 889,
 891,
 893,
 895,
 897,
 899,
 901,
 903,
 905,
 907,
 909,
 911,
 913,
 915,
 917,
 919,
 921,
 923,
 925,
 927,
 929,
 931,
 933,
 935,
 937,
 939,
 941,
 943,
 945,
 947,
 949,
 951,
 953,
 955,
 957,
 959,
 961,
 963,
 965,
 967,
 969,
 971,
 973,
 975,
 977,
 979,
 981,
 983,
 985,
 987,
 989,
 991,
 993,
 995,
 997,
 999,
 1001,
 1003,
 1005,
 1007,
 1009,
 1011,
 1013,
 1015,
 1017,
 1019,
 1021,
 1023,
 1025,
 1027,
 1029,
 1031,
 1033,
 1035,
 1037,
 1039,
 1041,
 1043,
 1045,
 1047,
 1049,
 1051,
 1053,
 1055,
 1057,
 1059,
 1061,
 1063,
 1065,
 1067,
 1069,
 1071,
 1073,
 1075,
 1077,
 1079,
 1081,
 1083,
 1085,
 1087,
 1089,
 1091,
 1093,
 1095,
 1097,
 1099,
 1101,
 1103,
 1105,
 1107,
 1109,
 1111,
 1113,
 1115,
 1117,
 1119,
 1121,
 1123,
 1125,
 1127,
 1129,
 1131,
 1133,
 1135,
 1137,
 1139,
 1141,
 1143,
 1145,
 1147,
 1149,
 1151,
 1153,
 1155,
 1157,
 1159,
 1161,
 1163,
 1165,
 1167,
 1169,
 1171,
 1173,
 1175,
 1177,
 1179,
 1181,
 1183,
 1185,
 1187,
 1189,
 1191,
 1193,
 1195,
 1197,
 1199,
 1201,
 1203,
 1205,
 1207,
 1209,
 1211,
 1213,
 1215,
 1217,
 1219,
 1221,
 1223,
 1225,
 1227,
 1229,
 1231,
 1233,
 1235,
 1237,
 1239,
 1241,
 1243,
 1245,
 1247,
 1249,
 1251,
 1253,
 1255,
 1257,
 1259,
 1261,
 1263,
 1265,
 1267,
 1269,
 1271,
 1273,
 1275,
 1277,
 1279,
 1281,
 1283,
 1285,
 1287,
 1289,
 1291,
 1293,
 1295,
 1297,
 1299,
 1301,
 1303,
 1305,
 1307,
 1309,
 1311,
 1313,
 1315,
 1317,
 1319,
 1321,
 1323,
 1325,
 1327,
 1329,
 1331,
 1333,
 1335,
 1337,
 1339,
 1341,
 1343,
 1345,
 1347,
 1349,
 1351,
 1353,
 1355,
 1357,
 1359,
 1361,
 1363,
 1365,
 1367,
 1369,
 1371,
 1373,
 1375,
 1377,
 1379,
 1381,
 1383,
 1385,
 1387,
 1389,
 1391,
 1393,
 1395,
 1397,
 1399,
 1401,
 1403,
 1405,
 1407,
 1409,
 1411,
 1413,
 1415,
 1417,
 1419,
 1421,
 1423,
 1425,
 1427,
 1429,
 1431,
 1433,
 1435,
 1437,
 1439,
 1441,
 1443,
 1445,
 1447,
 1449,
 1451,
 1453,
 1455,
 1457,
 1459,
 1461,
 1463,
 1465,
 1467,
 1469,
 1471,
 1473,
 1475,
 1477,
 1479,
 1481,
 1483,
 1485,
 1487,
 1489,
 1491,
 1493,
 1495,
 1497,
 1499,
 1501,
 1503,
 1505,
 1507,
 1509,
 1511,
 1513,
 1515,
 1517,
 1519,
 1521,
 1523,
 1525,
 1527,
 1529,
 1531,
 1533,
 1535,
 1537,
 1539,
 1541,
 1543,
 1545,
 1547,
 1549,
 1551,
 1553,
 1555,
 1557,
 1559,
 1561,
 1563,
 1565,
 1567,
 1569,
 1571,
 1573,
 1575,
 1577,
 1579,
 1581,
 1583,
 1585,
 1587,
 1589,
 1591,
 1593,
 1595,
 1597,
 1599,
 1601,
 1603,
 1605,
 1607,
 1609,
 1611,
 1613,
 1615,
 1617,
 1619,
 1621,
 1623,
 1625,
 1627,
 1629,
 1631,
 1633,
 1635,
 1637,
 1639,
 1641,
 1643,
 1645,
 1647,
 1649,
 1651,
 1653,
 1655,
 1657,
 1659,
 1661,
 1663,
 1665,
 1667,
 1669,
 1671,
 1673,
 1675,
 1677,
 1679,
 1681,
 1683,
 1685,
 1687,
 1689,
 1691,
 1693,
 1695,
 1697,
 1699,
 1701,
 1703,
 1705,
 1707,
 1709,
 1711,
 1713,
 1715,
 1717,
 1719,
 1721,
 1723,
 1725,
 1727,
 1729,
 1731,
 1733,
 1735,
 1737,
 1739,
 1741,
 1743,
 1745,
 1747,
 1749,
 1751,
 1753,
 1755,
 1757,
 1759,
 1761,
 1763,
 1765,
 1767,
 1769,
 1771,
 1773,
 1775,
 1777,
 1779,
 1781,
 1783,
 1785,
 1787,
 1789,
 1791,
 1793,
 1795,
 1797,
 1799,
 1801,
 1803,
 1805,
 1807,
 1809,
 1811,
 1813,
 1815,
 1817,
 1819,
 1821,
 1823,
 1825,
 1827,
 1829,
 1831,
 1833,
 1835,
 1837,
 1839,
 1841,
 1843,
 1845,
 1847,
 1849,
 1851,
 1853,
 1855,
 1857,
 1859,
 1861,
 1863,
 1865,
 1867,
 1869,
 1871,
 1873,
 1875,
 1877,
 1879,
 1881,
 1883,
 1885,
 1887,
 1889,
 1891,
 1893,
 1895,
 1897,
 1899,
 1901,
 1903,
 1905,
 1907,
 1909,
 1911,
 1913,
 1915,
 1917,
 1919,
 1921,
 1923,
 1925,
 1927,
 1929,
 1931,
 1933,
 1935,
 1937,
 1939,
 1941,
 1943,
 1945,
 1947,
 1949,
 1951,
 1953,
 1955,
 1957,
 1959,
 1961,
 1963,
 1965,
 1967,
 1969,
 1971,
 1973,
 1975,
 1977,
 1979,
 1981,
 1983,
 1985,
 1987,
 1989,
 1991,
 1993,
 1995,
 1997,
 1999,
 ...]

In [21]:
textFile = sc.textFile("Spark.txt")
textFile.cache()

Spark.txt MapPartitionsRDD[9] at textFile at NativeMethodAccessorImpl.java:0

In [22]:
textFile.count()

6

In [23]:
textFile.collect()

['Hello Spark',
 'Hello Spark',
 'Hello Spark',
 'Hello Spark',
 'Hello Spark',
 'Hello Spark']

In [24]:
x = sc.parallelize(["spark","rdd","example","sample","example"])
y = x.map(lambda x: (x,1))
y.collect()

[('spark', 1), ('rdd', 1), ('example', 1), ('sample', 1), ('example', 1)]

In [25]:
rdd = sc.parallelize([2,3,4])
sorted(rdd.flatMap(lambda x: range(1,x)).collect())

[1, 1, 1, 2, 2, 3]

In [26]:
rdd = sc.parallelize([1,2,3,4,5])
rdd.filter(lambda x: x%2 == 0).collect()

[2, 4]

In [27]:
parallel = sc.parallelize(range(9))
parallel.sample(withReplacement=True, fraction=1, seed=1).collect()

[0, 0, 1, 1, 3, 3, 6, 7, 7, 7, 7, 8, 8, 8]

In [28]:
parallel.sample(withReplacement=True, fraction=1, seed=1).count()

14

In [29]:
parallel.sample(withReplacement=True, fraction=0.2, seed=1).collect()

[1]

In [30]:
parallel.sample(withReplacement=True, fraction=0.2, seed=1).count()

1

In [28]:
parallel.sample(False,1).collect()

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [30]:
parallel = sc.parallelize(range(1,9))
par = sc.parallelize(range(5,15))
parallel.union(par).collect()

[1, 2, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [31]:
parallel = sc.parallelize(range(1,9))
par = sc.parallelize(range(5,15))
parallel.intersection(par).collect()

[6, 8, 5, 7]

In [32]:
parallel = sc.parallelize(range(1,9))
par = sc.parallelize(range(5,15))
parallel.union(par).distinct().collect()

[2, 4, 6, 8, 10, 12, 14, 1, 3, 5, 7, 9, 11, 13]

In [33]:
y = sc.parallelize([5,7,1,3,2,1])
y.sortBy(lambda c: c, True).collect()

[1, 1, 2, 3, 5, 7]

In [34]:
z=sc.parallelize([("H",10),("A",26),("Z",1),("L",5)])
z.sortBy(lambda c:c,False).collect()

[('Z', 1), ('L', 5), ('H', 10), ('A', 26)]

In [35]:
z=sc.parallelize([("H",10),("A",26),("Z",1),("L",5)])
z.sortBy(lambda c:c,True).collect()

[('A', 26), ('H', 10), ('L', 5), ('Z', 1)]

In [36]:
rdd = sc.parallelize([1,2,3,4],2)
def f(iterator): yield sum(iterator)
rdd.mapPartitions(f).collect()

[3, 7]

In [38]:
rdd = sc.parallelize([1,2,3,4],1)
def f(iterator): yield sum(iterator)
rdd.mapPartitions(f).collect()

[10]

In [39]:
rdd = sc.parallelize([1,2,3,4],3)
def f(iterator): yield sum(iterator)
rdd.mapPartitions(f).collect()

[1, 2, 7]

This code distributes 4 elements across 3 partitions and computes the sum of each partition locally. The result is a list of partition sums returned to the driver.   
     
How elements are distributed in this case:

Partition 0: [1] → sum = 1.     
Partition 1: [2] → sum = 2.     
Partition 2: [3, 4] → sum = 7.

In [41]:
rdd = sc.parallelize([1,2,3,4],4) 
def f(splitIndex,iterator): yield splitIndex
rdd.mapPartitionsWithIndex(f).sum()

6

In [42]:
rdd = sc. parallelize([1,1,2,3,5,8])
result= rdd.groupBy(lambda x: x%2).collect()
sorted([(x,sorted(y)) for (x,y) in result])

[(0, [2, 8]), (1, [1, 1, 3, 5])]

In [43]:
x = sc.parallelize(range(0,3)).keyBy(lambda x: x*x)
y = sc.parallelize(zip(range(0,5),range(0,5)))
[(x,list(map(list,y))) for x,y in sorted(x.cogroup(y).collect())]

[(0, [[0], [0]]),
 (1, [[1], [1]]),
 (2, [[], [2]]),
 (3, [[], [3]]),
 (4, [[2], [4]])]

This code performs a cogroup operation between two RDDs (Resilient Distributed Datasets), grouping their values by key and collecting the results as a sorted list.     
      
Line 1: x = sc.parallelize(range(0,3)).keyBy(lambda x: x*x).   
    
Creates an RDD with values 0, 1, 2 using sc.parallelize().   
Transforms each element into a key-value pair using keyBy() where the key is the square of the value    
Result: [(0, 0), (1, 1), (2, 2)] — (key, value) pairs where key = value²
     
Line 2: y = sc.parallelize(zip(range(0,5),range(0,5)))     
     
Creates tuples (0,0), (1,1), (2,2), (3,3), (4,4) using zip(range(0,5), range(0,5))    
Parallelizes these tuples as an RDD     
Result: [(0, 0), (1, 1), (2, 2), (3, 3), (4, 4)] — (key, value) pairs    
        
Line 3: x.cogroup(y).collect()    
      
cogroup() groups values from both RDDs by their keys     
For each key, it produces an iterable of values from x and an iterable from y   
sorted() orders the results by key     
list(map(list, ...)) converts the iterables to lists.   
    
Expected Output.   
[(0, [[0], [0]]),    
 (1, [[1], [1]]),     
 (2, [[2], [2]]),      
 (3, [[], [3]]),     
 (4, [[], [4]])].   
     
This shows that keys 0, 1, 2 have values in both RDDs, while keys 3 and 4 only have values in RDD y.

In [44]:
x = sc.parallelize(range(0,5))
y = sc.parallelize(range(1000,1005))
x.zip(y).collect()

[(0, 1000), (1, 1001), (2, 1002), (3, 1003), (4, 1004)]

In [45]:
sc.parallelize(["a","b","c","d"],3).zipWithIndex().collect()

[('a', 0), ('b', 1), ('c', 2), ('d', 3)]

In [46]:
rdd = sc.parallelize([1,2,3,4,5,6,7],4)
sorted(rdd.glom().collect())

[[1], [2, 3], [4, 5], [6, 7]]

In [47]:
len(rdd.repartition(2).glom().collect())

2

In [48]:
sc.parallelize([1,2,3,4,5],3).glom().collect()

[[1], [2, 3], [4, 5]]

In [50]:
# use the lowercase method name
sc.parallelize([1,2,3,4,5],3).coalesce(2).glom().collect()

[[1], [2, 3, 4, 5]]

In [51]:
from operator import add
sc.parallelize([1,2,3,4,5]).reduce(add)

15

In [52]:
sc.parallelize((2 for _ in range(10))).map(lambda x: 1).cache().reduce(add)

10

In [53]:
sc.parallelize([2,3,4]).first()

2

In [54]:
nums = sc.parallelize([1,5,3,9,4,0,2])
nums.takeOrdered(5)

[0, 1, 2, 3, 4]

In [55]:
nums = sc.parallelize([1,5,3,9,4,0,2])

nums.take(5)

[1, 5, 3, 9, 4]

In [56]:
nums = sc.parallelize([1,5,3,9,4,0,2])
nums.count()

7

In [ ]:
c = sc.parallelize(["Gnu","Cat","Rat","Dog","Gnu","Rat"],2)
c.collect()

['Gnu', 'Cat', 'Rat', 'Dog', 'Gnu', 'Rat']

In [61]:
c = sc.parallelize(["Gnu","Cat","Rat","Dog","Gnu","Rat"],2)
# compute distinct elements and print them
print(c.distinct().collect())

['Gnu', 'Dog', 'Cat', 'Rat']

In [62]:
a=sc.parallelize(range(1,10000),3)
a.saveAsTextFile("./mydata_a1")

In [63]:
x=sc.parallelize([1,2,3],3)
x.saveAsTextFile("./sample1.txt")

In [64]:
def f(x): print(x)
sc.parallelize([1,2,3,4,5]).foreach(f)

1
2
3
4
5

In [65]:
def f(iterator):
  for x in iterator:
     print(x)
sc.parallelize([1,2,3,4,5]).foreachPartition(f)

1
2
3
4
5

In [67]:
numbers = sc.parallelize(range(1,100))
numbers.sum()

4950

In [68]:
numbers.min()

1

In [69]:
numbers.variance()

816.6666666666666

In [70]:
numbers.max()

99

In [71]:
numbers.mean()

50.0

In [72]:
numbers.stdev()

28.577380332470412

In [73]:
a=sc.parallelize([1,2,3,4,5,6,7,8,2,3,3,3,1,1,1])
a.countByValue()

defaultdict(int, {1: 4, 2: 2, 3: 4, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1})

In [74]:
a=sc.parallelize(range(1,19),3)
b=sc.parallelize(range(1,13),3)
c=a.subtract(b)
c.toDebugString()

b'(6) PythonRDD[173] at RDD at PythonRDD.scala:58 []\n |  MapPartitionsRDD[172] at mapPartitions at PythonRDD.scala:170 []\n |  ShuffledRDD[171] at partitionBy at NativeMethodAccessorImpl.java:0 []\n +-(6) PairwiseRDD[170] at subtract at /var/folders/8t/4ttt_tc53hs994xcrmjg2p880000gn/T/ipykernel_20043/2648738274.py:3 []\n    |  PythonRDD[169] at subtract at /var/folders/8t/4ttt_tc53hs994xcrmjg2p880000gn/T/ipykernel_20043/2648738274.py:3 []\n    |  UnionRDD[168] at union at NativeMethodAccessorImpl.java:0 []\n    |  PythonRDD[166] at RDD at PythonRDD.scala:58 []\n    |  ParallelCollectionRDD[164] at readRDDFromFile at PythonRDD.scala:299 []\n    |  PythonRDD[167] at RDD at PythonRDD.scala:58 []\n    |  ParallelCollectionRDD[165] at readRDDFromFile at PythonRDD.scala:299 []'

In [75]:
rdd = sc.parallelize([("a1","b1","c1","d1","e1"),("a2","b2","c2","d2","e2")])
result = rdd.map(lambda x: (x[0],list(x[1:])))
result.collect()

[('a1', ['b1', 'c1', 'd1', 'e1']), ('a2', ['b2', 'c2', 'd2', 'e2'])]

In [79]:
rdd.toDebugString()

b'(1) ParallelCollectionRDD[174] at readRDDFromFile at PythonRDD.scala:299 []'

##### Content of Spark.txt:
    
Hello Spark.  
Hello Spark.   
Hello Spark.   
Hello Spark.  
Hello Spark.  
Hello Spark.

In [81]:
rdd = sc.textFile("Spark.txt")
nonempty_lines = rdd.filter(lambda x: len(x)>0)
words = nonempty_lines.flatMap(lambda x: x.split(' '))
wordcount = words.map(lambda x: (x,1)).reduceByKey(lambda x,y:x+y).map(lambda x:(x[1],x[0])).sortByKey(False)

for word in wordcount.collect():
	print(word)

(6, 'Hello')
(6, 'Spark')